<footer id="footer" style="background-color: #fff;">
    <div class="container">
        <ul class="copyright">
            <li>
                &copy;
                <a target="_blank" href="https://www.virtuosity.co.in/">
                    Virtuosity Educational Service</a
                >
            </li>
            <li>
                Developed by:
                <a
                    target="_blank"
                    href="https://viralshastri.github.io/portfolio/"
                    >Viral Shastri</a
                >
                & <a target="_blank" href="https://akshitmithaiwala.github.io/">Akshit Mithaiwala</a>
            </li>
        </ul>
    </div>
</footer>