{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password | Virtuosity Educational Service</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'client/images/logo.jpeg' %}">
        <link rel="stylesheet" href="{% static 'client/css/main.css' %}" />
        <link
            href="{% static 'admin/css/spinner.css' %}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="loading" class="special loading">Loading&#8230;</div>
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="container">
                <section>
                    <header class="major special">
                        <h2>Reset Password Complete!</h2>
                    </header>
                    <form id="form" method="post" action="#">
                        {% csrf_token %}
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                <p>
                                    Your password has been set. You may go ahead
                                    and log in now.
                                </p>
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="12u$">
                                <ul class="actions">
                                    <li>
                                        <a
                                            href="{% url 'login-page' %}"
                                            type="submit"
                                            class="button special"
                                            id="submit"
                                            >Login</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Image -->
            </div>
        </section>
        {% include 'client/footer.html' %}
        <script src="{% static 'client/js/jquery.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#loading").hide();
            });
        </script>
    </body>
</html>
