{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password | Virtuosity Educational Service</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'client/images/logo.jpeg' %}">
        <link rel="stylesheet" href="{% static 'client/css/main.css' %}" />
        <link
            rel="stylesheet"
            href="{% static 'admin/vendor/parsleyjs/parsley.css' %}"
        />
        <!-- Alertify css -->
        <link
            href="{% static 'admin/vendor/alertify/css/alertify.css'  %}"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="{% static 'admin/css/spinner.css' %}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="loading" class="special loading">Loading&#8230;</div>
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="container">
                <section>
                    <header class="major special">
                    <h2>Reset Password!</h2>
                </header>
                    <form id="form" method="post">
                        {% csrf_token %}
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                Can't Remember your Password? Enter the E-mail
                                associated with your account
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                {{ form }}
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="12u$">
                                <ul class="actions">
                                    <li>
                                        <input
                                            type="button"
                                            class="button special"
                                            value="Submit"
                                            id="submit-btn"
                                            name="Send email"
                                        />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Image -->
            </div>
        </section>
        {% include 'client/footer.html' %}
        <!-- Scripts -->
        <script src="{% static 'client/js/jquery.min.js' %}"></script>
        <script src="{% static 'admin/vendor/parsleyjs/parsley.min.js' %}"></script>
        <script src="{% static 'admin/vendor/alertify/js/alertify.js'  %}"></script>
        <script>
            $(document).ready(function () {
                $("#loading").hide();
                $("#form").parsley();
                $("#submit-btn").on('click',function (e) {
                    if ($("#form").parsley().isValid()) {
                        e.preventDefault();
                        data = new FormData($("#form")[0]);
                        $.ajax({
                            headers: { "X-CSRFToken": "{{csrf_token}}" },
                            url: "{% url 'email-check' %}",
                            data: data,
                            type: "post",
                            processData: false,
                            contentType: false,
                            beforeSend: function() {
                                $("#loading").show();
                            },
                            success: function (response) {
                                $("#form").submit();
                            },
                            error: function (response) {
                                alertify.error(
                                    response["responseJSON"]["error"]
                                );
                                $("#form")[0].reset();
                            },
                            complete: function() {
                                $("#loading").hide();
                            },
                        });
                    }
                });
            });
        </script>
    </body>
</html>
