{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password | Virtuosity Educational Service</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static 'client/images/logo.jpeg' %}">
        <link rel="stylesheet" href="{% static 'client/css/main.css' %}" />
        <link
            href="{% static 'admin/css/spinner.css' %}"
            rel="stylesheet"
        />
        <style>
            .errorlist {
                color: red;
            }
            .errorlist li {
                margin: 10px 0 10px 0px;
                padding: 0;
                color: red;
                font-size: 0.9em;
                line-height: 0.9em;
                transition: all 0.3s ease-in;
                -o-transition: all 0.3s ease-in;
                -moz-transition: all 0.3s ease-in;
                -webkit-transition: all 0.3s ease-in;
            }
        </style>
    </head>
    <body>
        <div id="loading" class="special loading">Loading&#8230;</div>
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="container">
                <section>
                    <header class="major special">
                    <h2>Reset Password!</h2>
                </header>
                    {% if validlink %}
                    <form id="form" method="post">
                        {% csrf_token %} 
                        {% for field in form %}
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                {{field.label}} {{field}}
                            </div>
                        </div>  
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                {{ field.errors }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row uniform 50%">
                            <div class="12u$">
                                <ul class="actions">
                                    <li>
                                        <input
                                            type="submit"
                                            class="button special"
                                            value="Reset Password"
                                            id="submit"
                                        />
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it
                        has already been used. Please request a new password
                        reset.
                    </p>
                    {% endif %}
                </section>
                <!-- Image -->
            </div>
        </section>
        {% include 'client/footer.html' %}
        <script src="{% static 'client/js/jquery.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#loading").hide();
                $("#form").on("submit", function(){
                    $("#loading").show();
                });
            });
        </script>
    </body>
</html>
