{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password | Virtuosity Educational Service</title>
        <link rel="shortcut icon" href="{% static 'client/images/logo.jpeg' %}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'client/css/main.css' %}" />
        <link
            href="{% static 'admin/css/spinner.css' %}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="loading" class="special loading">Loading&#8230;</div>
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="container">
                <section>
                    <header class="major special">
                        <h2>Email has been Sent!</h2>
                    </header>
                    <form id="form" method="post" action="#">
                        {% csrf_token %}
                        <div class="row uniform 50%">
                            <div class="6u 12u$(xsmall)">
                                <p>
                                    We’ve emailed you instructions for setting
                                    your password, if an account exists with the
                                    email you entered. You should receive them
                                    shortly. If you don’t receive an email,
                                    please make sure you’ve entered the address
                                    you registered with, and check your spam
                                    folder.
                                </p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
        {% include 'client/footer.html' %}
        <script src="{% static 'client/js/jquery.min.js' %}"></script>
        <script>
            $(document).ready(function () {
                $("#loading").hide();
            });
        </script>
    </body>
</html>
