{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Virtuosity_Interest_Report</title>
    <!-- Custom fonts for this template-->
    <link rel="shortcut icon" href="{% static 'client/images/logo.jpeg' %}" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'admin/css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/spinner.css' %}" rel="stylesheet" />
    <style>
        @media print {
            #print {
                display: none;
            }
        }

        .chart-area {
            height: 20rem;
        }
    </style>
</head>

<body id="page-top">
    <div id="loading" class="special loading">Loading&#8230;</div>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <td>
                                                <img class="img-profile" src="{% static 'client/images/logo.jpeg' %}"
                                                    width="65" />
                                            </td>
                                            <td>
                                                <h1 class="text-gray-900" style="
                                                            font-weight: 800;
                                                            margin-left: 20px;
                                                        ">
                                                    Career Assessment Report
                                                </h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td>
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                                            Unique reference id</div>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                                            Student Name</div>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                                            Date</div>
                                                    </td>
                                                    <td>
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                                            Version</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-3">
                                                            VES000{{result.ResultId}}</div>
                                                    </td>
                                                    <td>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-3">
                                                            {{ request.user.first_name }} {{request.user.last_name}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-3">
                                                            {{result.ResultDate.day}}-{{result.ResultDate.month}}-{{result.ResultDate.year}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800 mb-3">1.0
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Your type of personality!
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-7 col-lg-12">
                                            <div class="chart-area" style="
                                                        margin-bottom: 100px;
                                                    ">
                                                <div id="chart" style="
                                                            margin: auto;
                                                            height: auto;
                                                            width: auto;
                                                        "></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-5 col-lg-12">
                                            <div class="row">
                                                {% for result in result_data %}
                                                {% if forloop.counter == 1 %}
                                                <div class="col-xl-12 col-md-12 mb-4">
                                                    <div class="card border-left-success shadow h-100 py-2">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div
                                                                        class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                                        Primary
                                                                        Personality
                                                                    </div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                                        {{result.CategoryName}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="col-xl-6 col-md-6 mb-4">
                                                    <div class="card border-left-warning shadow h-100 py-2">
                                                        <div class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div
                                                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                                        Secondary
                                                                        Personality
                                                                    </div>
                                                                    <div
                                                                        class="h5 mb-0 font-weight-bold text-gray-800 mb-2">
                                                                        {{result.CategoryName}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Interpretation of your primary and
                                        secondary personality traits
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for result in result_data %}
                                        {% if forloop.counter == 1 %}
                                        <div class="col-xl-4 col-md-12 mb-4">
                                            <div class="card border-left-success shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div
                                                                class="h5 mb-0 font-weight-bold text-success text-uppercase mb-2">
                                                                {{result.CategoryName}}
                                                            </div>
                                                            <div class="text-xs font-weight-bold text-gray-800 mb-1">
                                                                {{result.CategoryDescription}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="col-xl-4 col-md-6 mb-4">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div
                                                                class="h5 mb-0 font-weight-bold text-warning text-uppercase mb-2">
                                                                {{result.CategoryName}}
                                                            </div>
                                                            <div class="text-xs font-weight-bold text-gray-800 mb-1">
                                                                {{result.CategoryDescription}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Your job type preferences
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        These are some of more suitable job
                                        types for you can make a good choice
                                        for your future career and get right
                                        direction based on your personality.
                                    </p>
                                    <div class="row">
                                        {% for job in job_data %}
                                        {% for job_cat in job.Categories.all %}
                                        {% if job_cat.CategoryId in result_cat %}
                                        {% ifchanged job.JobTitle %}
                                        <div class="col-xl-4 col-md-3 mb-4">
                                            <div class="card border-left-info shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div
                                                                class="h6 mb-0 font-weight-bold text-info text-uppercase mb-2">
                                                                {{ job.JobTitle }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endifchanged %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Disclaimer
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        The above report is derived based on your responses. We use Hollands code for
                                        assessment. We recommend to take details assessment for career guidance . Career
                                        decision taken using this test are at sole discretion of the user. For detail
                                        report and advice, we recommend psychometric test. Details can be found on <a
                                            href="https://www.virtuosity.co.in/" target="_blank">virtuosity.co.in</a>
                                        With this report you authorise to use this data for research work and to send
                                        promotional messages.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="print" class="row">
                        <div class="col-lg-6">
                            <button onClick="window.print()"
                                class="font-weight-bold text-uppercase mb-4 btn btn-success"
                                style="width: 100%; padding: 20px 0px;">
                                Print Report
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <a class="font-weight-bold text-uppercase mb-4 btn btn-secondary"
                                style="width: 100%; padding: 20px 0px;" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'admin/footer.html' %}
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'client/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#loading").hide();
            var labels = [];
            {% for cat in allCat %} labels.push("{{cat}}"); {% endfor %}
            var data = "{{ allCatScore }}".split(",");
            for (var i = 0; i < data.length; i++) {
                data[i] = parseInt(data[i]);
            }
            var options = {
                series: [{
                    data: data
                }],
                chart: {
                    type: 'bar',
                    height: 380
                },
                plotOptions: {
                    bar: {
                        barHeight: '100%',
                        distributed: true,
                        horizontal: true,
                        dataLabels: {
                            position: 'bottom'
                        },
                    }
                },
                colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa', '#A5978B', '#2b908f', '#f9a3a4', '#90ee7e',
                    '#f48024', '#69d2e7'
                ],
                dataLabels: {
                    enabled: true,
                    textAnchor: 'start',
                    style: {
                        colors: ['#fff']
                    },
                    formatter: function (val, opt) {
                        return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                    },
                    offsetX: 0,
                    dropShadow: {
                        enabled: true
                    }
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                xaxis: {
                    categories: labels,
                },
                yaxis: {
                    labels: {
                        show: false
                    }
                },
                tooltip: {
                    theme: 'dark',
                    x: {
                        show: false
                    },
                    y: {
                        title: {
                            formatter: function () {
                                return ''
                            }
                        }
                    }
                }
            };
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        });
    </script>
</body>

</html>